
[submodule "repo/skin.fentastic"]
	path = repo/skin.fentastic
	url = https://github.com/ivarbrandt/skin.fentastic
[submodule "repo/script.fentastic.helper"]
	path = repo/script.fentastic.helper
	url = https://github.com/ivarbrandt/script.fentastic.helper
