
[submodule "repo/skin.fentastic"]
	path = repo/skin.fentastic
	url = https://github.com/ivarbrandt/skin.fentastic
[submodule "repo/script.fentastic.helper"]
	path = repo/script.fentastic.helper
	url = https://github.com/ivarbrandt/script.fentastic.helper
[submodule "repo/plugin.program.autocompletion"]
	path = repo/plugin.program.autocompletion
	url = https://github.com/ivarbrandt/plugin.program.autocompletion
[submodule "repo/script.nimbus.helper"]
	path = repo/script.nimbus.helper
	url = https://github.com/ivarbrandt/script.nimbus.helper.git
[submodule "repo/skin.nimbus"]
	path = repo/skin.nimbus
	url = https://github.com/ivarbrandt/skin.nimbus.git
[submodule "repo/skin.altus"]
	path = repo/skin.altus
	url = https://github.com/ivarbrandt/skin.altus
[submodule "repo/script.altus.helper"]
	path = repo/script.altus.helper
	url = https://github.com/ivarbrandt/script.altus.helper
